
@import "variables/_colors";


// colors........
@each $name, $value in $colors_obj {
  .text-#{$name}{
    --my-text-opacity: 1;
    color: rgba($value, var(--my-text-opacity));
  }
  .hover\:text-#{$name}:hover{
    --my-text-opacity: 1;
    color: rgba($value, var(--my-text-opacity));
  }
}


// background-color............
@each $name, $value in $colors_obj {
  @if $name !=  transparent {
    .bg-#{$name} {
      --my-bg-opacity: 1;
      background: rgba($value, var(--my-bg-opacity));
    }
    .hover\:bg-#{$name}:hover {
      --my-bg-opacity: 1;
      background: rgba($value, var(--my-bg-opacity));
    }
  } @else {
    .bg-#{$name} {
      background: $value;
    }
  }
}


$opacity: 0, 25, 50, 75, 100;

@each $item in $opacity{
  .text-opacity-#{$item}{
    // this is class level css variable....
    --my-text-opacity: #{$item / 100}
  }
}

@each $item in $opacity{
  .bg-opacity-#{$item}{
    // this is class level css variable....
    --my-bg-opacity: #{$item / 100}
  }
}