
@function str_split($str, $substr) {
  $nList: ();
  
  @while str-index("#{$str}", "#{$substr}") != null {
    @if (str-index("#{$str}", "#{$substr}") > 1) {
      $nList: append(
          $nList,
          str-slice("#{$str}", 1, str-index("#{$str}", "#{$substr}") - 1)
      );
    }
    
    $str: str-slice(
        "#{$str}",
        str-index("#{$str}", "#{$substr}") + 1,
        str-length("#{$str}")
    );
  }
  
  @if (str-slice("#{$str}", 1, str-length("#{$str}")) != "") {
    $nList: append($nList, str-slice("#{$str}", 1, str-length("#{$str}")));
  }
  
  @return $nList;
}


@mixin makeClassForFloting($list, $classPrefix, $v1, $v2, $value) {
  .#{$classPrefix}-#{$v1}\.#{$v2} {
    @each $cssProperty in $list {
      #{$cssProperty}: #{$value}
    }
  }
}
@mixin makeClass($list, $classPrefix, $name, $value) {
  .#{$classPrefix}-#{$name}{
    @each $cssProperty in $list {
      #{$cssProperty}: #{$value}
    }
  }
}