


// flex
@for $i from 1 through 10 {
  .flex-#{$i}{
    flex: #{$i};
  }
}

.flex{ display: flex }
.block{ display: block }
.align-center{ align-items: center }
.justify-between{justify-content: space-between}
.justify-center{justify-content: center}
.justify-end{justify-content: flex-end}

$sm: 640px;
// => @media (min-width: 640px) { ... }

$md: 768px;
// => @media (min-width: 768px) { ... }

$lg: 1024px;
// => @media (min-width: 1024px) { ... }

$xl: 1280px;
// => @media (min-width: 1280px) { ... }

$xxl: 1536px;

$maxWidth : (
  xs: 0,
  sm: 640,
  md: 768,
  lg: 1024,
  xl: 1280,
  2xl: 1536
);

//@each $name, $value in $maxWidth{
//  .container-#{$name}{  }
//}


.min-w-0{min-width: 0px}
.min-w-full{min-width: 100%}
.min-w-min{min-width: min-content}
.min-w-max{min-width: max-content}



$m: (
  max-w-0: 0rem,
  max-w-none: none,
  max-w-xs: 20rem,
  max-w-sm: 24rem,
  max-w-md: 28rem,
  max-w-lg: 32rem,
  max-w-xl: 36rem,
  max-w-2xl: 42rem,
  max-w-3xl: 48rem,
  max-w-4xl: 56rem,
  max-w-5xl: 64rem,
  max-w-6xl: 72rem,
  max-w-7xl: 80rem,
  max-w-8xl: 90rem,
  max-w-full: 100%,
  max-w-min: 100%,
  max-w-max: 100%,
  max-w-screen-sm: 640px,
  max-w-screen-md: 768px,
  max-w-screen-lg: 1024px,
  max-w-screen-xl: 1280px,
  max-w-screen-2xl: 1536px
);

@each $name, $value in $m{
  .#{$name}{ max-width: $value};
}

// max width.........................

//.max-w-none{ max-width: none }
//.max-w-xs{ max-width: 20rem }
//.max-w-sm{ max-width: 24rem }
//.max-w-md{ max-width: 28rem }
//.max-w-lg{ max-width: 32rem }
//.max-w-xl{ max-width: 36rem }
//.max-w-2xl{ max-width: 42rem }
//.max-w-3xl{ max-width: 48rem }
//.max-w-4xl{ max-width: 56rem }
//.max-w-5xl{ max-width: 64rem }
//.max-w-6xl{ max-width: 72rem }
//.max-w-7xl{ max-width: 80rem }
//.max-w-8xl{ max-width: 90rem }
//.max-w-full{ max-width: 100% }
//.max-w-min{ max-width: 100% }
//.max-w-max{ max-width: 100% }
//.max-w-screen-sm{ max-width: 640px }
//.max-w-screen-md{ max-width: 768px }
//.max-w-screen-lg{ max-width: 1024px }
//.max-w-screen-xl{ max-width: 1280px }
//.max-w-screen-2xl{ max-width: 1536px }

// min width...........................


