@import "functions";


.relative{position: relative}
.absolute{position: absolute}
.fixed{position: fixed}

$positionValues: (
  0: 0,
  0.5: 0.5,
  2: 2,
  2.5: 2.5,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
  14: 14,
  16: 16,
  20: 20,
  24: 24,
  28: 28,
  32: 32,
  36: 36,
  40: 40,
  44: 44,
  48: 48,
  52: 52,
  56: 56,
  60: 60,
  64: 64,
  72: 72,
  80: 80,
  96: 96
);
//
//.m-0/1{marker-start: none}

@mixin setPositionValue($name, $value, $unit) {
  .top-#{$value}{top: #{$value}#{$unit}}
  .bottom-#{$name}{ bottom: #{$value}#{$unit} }
  .left-#{$name}{ left: #{$value}#{$unit} }
  .right-#{$name}{ right: #{$value}#{$unit} }
  
  .-top-#{$name}{ top: -#{$value}#{$unit} }
  .-bottom-#{$name}{ bottom: -#{$value}#{$unit} }
  .-left-#{$name}{ left: -#{$value}#{$unit} }
  .-right-#{$name}{ right: -#{$value}#{$unit} }
  
  .inset-#{$name}{ top: #{$value}#{$unit}; bottom: #{$value}#{$unit}; left: #{$value}#{$unit}; right: #{$value}#{$unit} }
  .-inset-#{$name}{ top: -#{$value}#{$unit}; bottom: -#{$value}#{$unit}; left: -#{$value}#{$unit}; right: -#{$value}#{$unit} }
  
  .inset-x-#{$name}{ left: #{$value}#{$unit}; right: #{$value}#{$unit} }
  .-inset-x-#{$name}{ left: -#{$value}#{$unit}; right: -#{$value}#{$unit} }
  
  .inset-y-#{$name}{ top: #{$value}#{$unit}; bottom: #{$value}#{$unit} }
  .-inset-y-#{$name}{ top: -#{$value}#{$unit}; bottom: -#{$value}#{$unit} }
}

@mixin setPositionValueForPoint($v1, $v2, $value, $unit) {
  .top-#{$v1}\.#{$v2}{top: #{$value}#{$unit}}
  .bottom-#{$v1}\.#{$v2}{bottom: #{$value}#{$unit}}
  .left-#{$v1}\.#{$v2}{left: #{$value}#{$unit}}
  .right-#{$v1}\.#{$v2}{right: #{$value}#{$unit}}
  
  .-top-#{$v1}\.#{$v2}{top: -#{$value}#{$unit}}
  .-bottom-#{$v1}\.#{$v2}{bottom: -#{$value}#{$unit}}
  .-left-#{$v1}\.#{$v2}{left: -#{$value}#{$unit}}
  .-right-#{$v1}\.#{$v2}{right: -#{$value}#{$unit}}
  
  
  
  .inset-#{$v1}\.#{$v2}{left: #{$value}#{$unit}; right: #{$value}#{$unit}}
  .-inset-#{$v1}\.#{$v2}{left: -#{$value}#{$unit}; right: -#{$value}#{$unit}}
  
  .-inset-x-#{$v1}\.#{$v2}{left: -#{$value}#{$unit}; right: -#{$value}#{$unit}}
  .inset-x-#{$v1}\.#{$v2}{left: #{$value}#{$unit}; right: #{$value}#{$unit}}
  
  .inset-y-#{$v1}\.#{$v2}{top: #{$value}#{$unit}; bottom: #{$value}#{$unit}}
  .-inset-y-#{$v1}\.#{$v2}{top: -#{$value}#{$unit}; bottom: -#{$value}#{$unit}}
}


@each $name, $value in $positionValues{
  @if $value > 1 {
    $list: str-split($value, '.');
    @if length($list) > 1 {
      $v1  : nth($list, 1);
      $v2  : nth($list, 2);
      @include setPositionValueForPoint($v1, $v2, $value, "rem")
      
    } @else {
      @include setPositionValue($name, $value, "rem");
    }
  } @else {
    $list: str-split($value, '.');
    @if length($list) > 1 {
      $v1: nth($list, 1);
      $v2: nth($list, 2);
      @include setPositionValueForPoint($v1, $v2, $value, "px")
    } @else {
      @include setPositionValue($name, $value, "px");
    }
  }
  
}

