ul, li{list-style: none; margin: 0}
//
//.top-3\.5{
//  //background: red;
//}

body{
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  //background: #252525;
}

*, ::after, ::before {
  box-sizing: border-box;
  border: 0 solid;
}

.blo{
  width: 100px;
  height: 100px;
  background: mediumvioletred;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  //color: #a1a1aa;
}

.reset{
  background: red;
}
.list{
  @apply reset
}


//.transform{
//  --tw-translate-y: 0;
//  --tw-rotate: 0;
//  --tw-skew-x: 0;
//  --tw-skew-y: 0;
//  --tw-scale-x: 1;
//  --tw-scale-y: 1;
//  transform: translateX(var(--tw-translate-x))
//  translateY(var(--tw-translate-y))
//  rotate(var(--tw-rotate))
//  skewX(var(--tw-skew-x))
//  skewY(var(--tw-skew-y))
//  scaleX(var(--tw-scale-x))
//  scaleY(var(--tw-scale-y));
//}



//.divide-y-6 > :not([hidden]) ~ :not([hidden]) {
//  --tw-divide-y-reverse: 0;
//  border-top-width: calc(2px * calc(1 - var(--tw-divide-y-reverse)));
//  border-bottom-width: calc(2px * var(--tw-divide-y-reverse));
//}
//
//.divide-y-2 > :not([hidden]) ~ :not([hidden]) {
//  --rsl-divide-y-reverse: 0;
//  border-top-width: calc(2px * var(--rsl-divide-y-reverse));
//  border-bottom-width: calc(2px * calc(1 - var(--rsl-divide-y-reverse)));
//}


//.transform {
//  --tw-translate-x: 0;
//  --tw-translate-y: 0;
//  --tw-rotate: 0;
//  --tw-skew-x: 0;
//  --tw-skew-y: 0;
//  --tw-scale-x: 1;
//  --tw-scale-y: 1;
//  transform:
//    translateX(var(--tw-translate-x))
//    translateY(var(--tw-translate-y))
//    rotate(var(--tw-rotate))
//    skewX(var(--tw-skew-x))
//    skewY(var(--tw-skew-y))
//    scaleX(var(--tw-scale-x))
//    scaleY(var(--tw-scale-y));
//}

//.translate-y-4 {
//  --tw-translate-y: 1rem;
//}
//


//
//.hover\:bg-primary{
//  background: red;
//}

//@media  (min-width: 640px) {
//  .sm\:container {
//    max-width: 640px;
//    padding-left: 20px;
//    padding-right: 20px;
//  }
//}


//.bg-primary{
//  --rsl-bg-opacity: 1;
//  background: rgba(255, 0, 0, var(--rsl-bg-opacity));
//}
//
//.bg-opacity-30{
//  --rsl-bg-opacity: 0.20;
//}


//.md\:\:block{
//  @media screen and (max-width: 700px){
//  display: none;
//
//  }
//}

//
//@media (min-width: 640px) {
//  .sm\:container {
//    width: 100%;
//  }
//
//  @media (min-width: 640px) {
//    .sm\:container {
//      max-width: 640px;
//    }
//  }
//
//  @media (min-width: 768px) {
//    .sm\:container {
//      max-width: 768px;
//    }
//  }
//
//  @media (min-width: 1024px) {
//    .sm\:container {
//      max-width: 1024px;
//    }
//  }
//
//  @media (min-width: 1280px) {
//    .sm\:container {
//      max-width: 1280px;
//    }
//  }
//
//  @media (min-width: 1536px) {
//    .sm\:container {
//      max-width: 1536px;
//    }
//  }
//}
//
//  // md
//  @media (min-width: 768px) {
//    .md\:container {
//      width: 100%;
//    }
//
//    @media (min-width: 640px) {
//      .md\:container {
//        max-width: 640px;
//      }
//    }
//
//    @media (min-width: 768px) {
//      .md\:container {
//        max-width: 768px;
//      }
//    }
//
//    @media (min-width: 1024px) {
//      .md\:container {
//        max-width: 1024px;
//      }
//    }
//
//    @media (min-width: 1280px) {
//      .md\:container {
//        max-width: 1280px;
//      }
//    }
//
//    @media (min-width: 1536px) {
//      .md\:container {
//        max-width: 1536px;
//      }
//    }
//  }
//
//
//// lg Container
//@media (min-width: 1024px) {
//  .lg\:container {
//    width: 100%;
//  }
//
//  @media (min-width: 640px) {
//    .lg\:container {
//      max-width: 640px;
//    }
//  }
//
//  @media (min-width: 768px) {
//    .lg\:container {
//      max-width: 768px;
//    }
//  }
//
//  @media (min-width: 1024px) {
//    .lg\:container {
//      max-width: 1024px;
//    }
//  }
//
//  @media (min-width: 1280px) {
//    .lg\:container {
//      max-width: 1280px;
//    }
//  }
//
//  @media (min-width: 1536px) {
//    .lg\:container {
//      max-width: 1536px;
//    }
//  }
//}
//
//
//// XL Container
//@media (min-width: 1280px) {
//  .xl\:container {
//    width: 100%;
//  }
//
//  @media (min-width: 640px) {
//    .xl\:container {
//      max-width: 640px;
//    }
//  }
//
//  @media (min-width: 768px) {
//    .xl\:container {
//      max-width: 768px;
//    }
//  }
//
//  @media (min-width: 1024px) {
//    .xl\:container {
//      max-width: 1024px;
//    }
//  }
//
//  @media (min-width: 1280px) {
//    .xl\:container {
//      max-width: 1280px;
//    }
//  }
//
//  @media (min-width: 1536px) {
//    .xl\:container {
//      max-width: 1536px;
//    }
//  }
//}
//
//// extra xl con
//@media (min-width: 1536px) {
//  .\32xl\:container {
//    width: 100%;
//  }
//
//  @media (min-width: 640px) {
//    .\32xl\:container {
//      max-width: 640px;
//    }
//  }
//
//  @media (min-width: 768px) {
//    .\32xl\:container {
//      max-width: 768px;
//    }
//  }
//
//  @media (min-width: 1024px) {
//    .\32xl\:container {
//      max-width: 1024px;
//    }
//  }
//
//  @media (min-width: 1280px) {
//    .\32xl\:container {
//      max-width: 1280px;
//    }
//  }
//
//  @media (min-width: 1536px) {
//    .\32xl\:container {
//      max-width: 1536px;
//    }
//  }
//}



